<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PhotoAlbum_Amaquin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PhotoAlbum_Amaquin.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navigation-bar bg-main-color">
            <div class="d-flex justify-content-between align-items-center">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">PhotoAlbum_Amaquin</a>
                <!--
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                -->
                <div>
                    <ul class="d-flex justify-content-between align-items-center gap-3 mb-0 list-unstyled">
                        <li>
                            <a class="navigation-link" asp-area="" asp-controller="Home" asp-action="Heroes">Heroes</a>
                        </li>
                        <li>
                            <a class="navigation-link" asp-area="" asp-controller="Home" asp-action="Items">Items</a>
                        </li>
                        <li>
                            <a class="navigation-link" asp-area="" asp-controller="Home" asp-action="Neutrals">Neutrals</a>
                        </li>
                        <li>
                            <a class="navigation-link" asp-area="" asp-controller="Home" asp-action="Players">Pro Players</a>
                        </li>
                        <li>
                            <a class="navigation-link" asp-area="" asp-controller="Home" asp-action="Cosmetics">Cosmetics</a>
                        </li>
                    </ul>
                </div>
                <a href="https://store.steampowered.com/app/570/Dota_2/" target="_blank" class="btn text-white d-flex align-items-center btn-dota">
                    <span>Just Don't</span>
                    <img class="btn-icon" src="~/images/dota 2.png" alt="dota"/>
                </a>
            </div>
        </nav>
    </header>
    <div class="pb-3">
        <main role="main" >
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2024 - PhotoAlbum_Amaquin
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
