:root {
    --main-color: #292929;
    --body-color: #1E1E1E;
    --secondary-color: #D9D9D9;
    --blue-hint-color: rgb(32,44,54);
    --midnight-blue-color: rgb(13,19,21);
    --dark-blue-color: rgb(24,33,40);
    --red-highlight: rgb(255,96,70);
    --health-color: rgb(24,105,24);
    --mana-color: rgb(26,76,143);
    --expensive-color: #fff34f;
    --arcana-color: #ade55c;
    --persona-color: #d32ce6;
    --immortal-color: #b28a33;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

*{
    font-family:'Amiri Quran';
}


body {
    background: #1E1E1E;
    margin-bottom: 60px;
}

html {
  position: relative;
  min-height: 100%;
}

.bg-main-color {
    background-color: var(--main-color) !important;
}

.bg-body-color {
    background-color: var(--body-color) !important;
}

.bg-midnight-blue-color {
    background-color: var(--midnight-blue-color) !important;
}

.bg-blue-hint-color {
    background-color: var(--blue-hint-color) !important;
}

.bg-dark-blue-color {
    background-color: var(--dark-blue-color) !important;
}

.color-main {
    color: var(--main-color) !important;
}

.color-body {
    color: var(--body-color) !important;
}

.color-secondary {
    color: var(--secondary-color) !important;
}

.color-red{
    color:var(--red-highlight) !important;
}

.color-expensive {
    color: var(--expensive-color) !important;
}

.color-arcana {
    color: var(--arcana-color) !important;
}

.color-persona {
    color: var(--persona-color) !important;
}

.color-immortal {
    color: var(--immortal-color) !important;
}

.hover-color-red:hover {
    color: var(--red-highlight) !important;
}

.text-small-75 {
    font-size: 14px;
    opacity: 0.75;
}

.text-bolder {
    font-weight: 800;
}

.text-bold {
    font-weight: 500;
}

.text-sm {
    font-size: 16px;
}

.text-md {
    font-size: 20px;
}

.text-lg {
    font-size: 26px;
}

.alter-font-family {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

.font-bold {
    font-weight: 800;
    font-size: 38px;
}

.w-40{
    width:40%;
}

/* Navigation Style */
.collapse-nav {
    display: flex;
}

.navigation-bar {
    padding: 10px 15px;
    position: absolute;
    top: 30px;
    left: 80px;
    right: 80px;
    border-radius: 10px;
}

.navigation-link{
    text-decoration:none;
    color:white;
    font-size:20px;
}

.navigation-link:hover{
    color:var(--red-highlight) !important;
}

.navigation-link:hover{
    color:white;
}

.btn-dota{
    background-color:transparent;
    border:1px solid var(--secondary-color);
}

.btn-dota:hover{
    border:1px solid var(--red-highlight);
    color:var(--red-highlight) !important;
}

.btn-icon{
    width:50px;
}

.width-dynamic{
    width:50%;
}

/* Hero Section Style */

.hero-section {
    background-repeat:no-repeat;
    background-color:rgb(0,0,0,0.5);
    background-blend-mode:darken;
    background-size:cover;
    object-fit:cover;
    height:500px;
}

.landing-page-hero {
    background-image: url("../images/gaben.jpg");
}

.heroes-page-hero {
    background-image: url("../images/dota-heroes-bg.jpg");
}

.items-page-hero {
    background-image: url("../images/dota-items-bg.jpg");
}

.neutrals-page-hero {
    background-image: url("../images/dota-neutrals-bg.jpg");
}

.players-page-hero {
    background-image: url("../images/dota-players-bg.jpg");
}

.cosmetics-page-hero {
    background-image: url("../images/dota-cosmetics-bg.jpg");
}

/* Page Styling */

.section-label{
    font-weight:800;
    font-size:36px;
    margin-bottom:2px;
}

.section-sublable{
    font-size:22px;
    opacity:0.75;
}

.album-picture-card{
    background-color:var(--main-color);
    overflow:hidden;
    border-radius:10px;
    width:400px;
}

.album-picture{
    width:100%;
}

.album-picture img {
    width: 100%;
    height:200px;
    object-fit:cover;
    object-position:center;
}

.album-title{
    font-weight:800;
}

/* Hero Page Styling */

.dota-hero-card {
    background-color: var(--main-color);
    overflow: hidden;
    border-radius: 10px;
    width: 500px;
    border:1px solid black;
    padding:5px 8px;
    align-self:stretch;
    display:flex;
    flex-direction:column;
}

.health-bar{
    background-color:var(--health-color);
    border-radius:10px;
}

.mana-bar {
    background-color: var(--mana-color);
    border-radius: 10px;
}

.hero-image {
    flex-grow: 1 !important;
}

.hero-image img{
    width:100%;
    object-fit:cover;
}

/* Item Page Styling */
.dota-item-card {
    background-color: var(--dark-blue-color);
    overflow: hidden;
    border-radius: 10px;
    width: 300px;
    border: 1px solid black;
    padding:3px 5px;
    align-self:stretch;
    display:flex;
    flex-direction:column;
}

.item-image img{
    width:100%;
}

/* Neutal Page Styling */
.dota-neutral-card {
    background-color: var(--dark-blue-color);
    overflow: hidden;
    border-radius: 10px;
    width:500px;
    border: 1px solid black;
    padding: 3px 5px;
    align-self: stretch;
    display:flex;
    flex-direction:column;
}

.neutral-image img{
    object-fit:cover;
    object-position:center;
    width:100%;
}

.neutral-image{
    width:50%;
}

.neutral-stats{
    width:50%;
}

/* Player Page Styling */
.dota-player-card {
    background-color: var(--dark-blue-color);
    overflow: hidden;
    border-radius: 10px;
    width: 300px;
    border: 1px solid black;
    padding: 3px 5px;
    align-self: stretch;
    display:flex;
    flex-direction:column;
}

.player-image{
    padding:2px;
    background-color:var(--blue-hint-color);
}

.player-image img{
    width:100%;
    height:250px;
    object-fit:cover;
    object-position:top;
}

/* Cosmetics Page Styling */
.dota-cosmetic-card {
    background-color: var(--dark-blue-color);
    overflow: hidden;
    border-radius: 10px;
    width: 300px;
    border: 1px solid black;
    padding: 3px 5px;
    align-self: stretch;
    display: flex;
    flex-direction: column;
}

.cosmetic-image img{
    width:100%;
}

.nav-collapse {
    display: none;
}

@media only screen and (max-width: 992px) {
    /* Large */
    .navigation-bar {
        left: 30px;
        right: 30px;
    }

    .dota-hero-card, .dota-neutral-card {
        width: 300px;
    }

    .neutral-image, .neutral-stats {
        width: 100%;
    }

    .collapse-nav {
        display: none;
    }

    .font-bold {
        font-size: 25px;
    }

    .section-sublable {
        font-size: 20px;
    }
}


@media only screen and (max-width: 768px) {
    /* Medium */
    .navigation-bar {
        left: 20px;
        right: 20px;
    }

    .navigation-link {
        font-size: 15px;
    }

    .dota-player-card {
        width: 200px;
    }

    .text-md {
        font-size: 16px;
    }

    .text-sm{
        font-size:14px;
    }

    .hero-section {
        height: 400px;
    }

    .font-bold {
        font-size: 22px;
    }

    .section-sublable {
        font-size: 18px;
    }

    .width-dynamic{
        width:100%;
    }
}

@media only screen and (max-width: 576px) {
    /* Small */
    .navigation-bar {
        left: 10px;
        right: 10px;
    }

    .dota-player-card {
        width: 200px;
    }

    .text-md {
        font-size: 16px;
    }

    .text-sm {
        font-size: 14px;
    }

    .hero-section{
        height:300px;
    }

    .font-bold {
        font-size: 18px;
    }

    .section-sublable {
        font-size: 14px;
    }
}

